<ul>
<% @recipes.each do |recipe|%>
  <li>
    <a href="/recipes/<%= recipe.id %>">Name: <%= recipes.name %></a>
    Ingredients: <%= recipes.ingredients %>
    Cook time <%= recipes.cook_time %>
  </li>
<% end %>
</ul>
